!!!  
%html  
  %head  
    %title [GrowControl] Biosphere status
    = bootstrap_assets
    %link(rel="stylesheet" href="css/growcontrol.css")
    %script(src="http://code.jquery.com/jquery-1.10.1.min.js")
    %script(src='javascript/growcontrol.js')
    %meta(name="viewport" content="user-scalable=yes, width=device-width, initial-scale=1.0, maximum-scale=1.0")
  %body
    .container
      .row.stats
        .span4
          %h4
            Temperature:
            %span.value
              = biosphere.temperature[:value].to_s + " °C"
        .span4
          %h4
            Humidity:
            %span.value
              = biosphere.humidity[:value].to_s + "%"
        %h4.text-right
          %span.time
            Updated
            = (Time.now - biosphere.humidity[:time]).round
            seconds ago
      .controls
        .span2
          %button.btn.btn-success.btn-large(id='feed-button')
            Feed
        .span4.feed-status
      .webcam
        %img.webcam(src="/images/webcam?#{Time.now.to_i}")
      .daily
        %img.graph(src='/images/temperatures/day')
        %img.graph(src='/images/humidities/day')
      .weekly
        %img.graph(src='/images/temperatures/week')
        %img.graph(src='/images/humidities/week')
